In [1]:
import pandas as pd
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [2]:
congress_file = "Resources/116th Congress List.csv"
congress_df = pd.read_csv(congress_file)
congress_df.head()

   congress_num  election_year    state st_abbrev                    name
0           116           2018  Alabama        AL    1. Bradley Byrne (R)
1           116           2018  Alabama        AL      2. Martha Roby (R)
2           116           2018  Alabama        AL      3. Mike Rogers (R)
3           116           2018  Alabama        AL  4. Robert Aderholt (R)
4           116           2018  Alabama        AL        5. Mo Brooks (R)

In [3]:
congress_df.columns.values

array(['congress_num', 'election_year', 'state', 'st_abbrev', 'name'],
      dtype=object)

In [4]:
new = congress_df["name"].str.split(".", n = 1, expand = True)

In [5]:
congress_df["district"]= new[0]

In [6]:
congress_df.drop(columns =["name"], inplace = True)

In [7]:
new2 = new[1].str.split("(", n = 1, expand = True)

In [8]:
name = new2[0].str[1:]

In [9]:
name = name.str[:-1]

In [10]:
congress_df["name"] = name

In [11]:
party = new2[1].str.split(")", n = 1, expand = True)
congress_df["party"] = party[0]

In [12]:
congress_df.head()

,congress_num,election_year,state,st_abbrev,district,name,party
0,116,2018,Alabama,AL,1,Bradley Byrne,R
1,116,2018,Alabama,AL,2,Martha Roby,R
2,116,2018,Alabama,AL,3,Mike Rogers,R
3,116,2018,Alabama,AL,4,Robert Aderholt,R
4,116,2018,Alabama,AL,5,Mo Brooks,R

In [13]:
congress_df.loc[congress_df['party'] == 'R', 'party'] = 'REP'

In [14]:
congress_df.loc[congress_df['party'] == 'D', 'party'] = 'DEM'

In [15]:
congress_df.head()

,congress_num,election_year,state,st_abbrev,district,name,party
0,116,2018,Alabama,AL,1,Bradley Byrne,REP
1,116,2018,Alabama,AL,2,Martha Roby,REP
2,116,2018,Alabama,AL,3,Mike Rogers,REP
3,116,2018,Alabama,AL,4,Robert Aderholt,REP
4,116,2018,Alabama,AL,5,Mo Brooks,REP

In [16]:
connection_string = "root:NewPassword@localhost:3306/election_prediction_db"
engine = create_engine(f'mysql://{connection_string}')

In [17]:
engine.table_names()

['candidate_finance',
 'district_demographic',
 'fips',
 'house_candidate',
 'us_congress',
 'us_congress_member']

In [18]:
congress_df.to_sql(name='us_congress_member', con=engine, if_exists='append', index=False)

In [19]:
#confirm successful deposit into MySQL table
pd.read_sql_query('select * from us_congress_member', con=engine).head()

,id,congress_num,election_year,state,st_abbrev,district,name,party,fec_candidate_id
0,1,116,2018,Alabama,AL,1,Bradley Byrne,REP,None
1,2,116,2018,Alabama,AL,2,Martha Roby,REP,None
2,3,116,2018,Alabama,AL,3,Mike Rogers,REP,None
3,4,116,2018,Alabama,AL,4,Robert Aderholt,REP,None
4,5,116,2018,Alabama,AL,5,Mo Brooks,REP,None