In [67]:
from sklearn import tree
import pandas as pd
import os

In [68]:
df = pd.read_csv(os.path.join("..", "Resources", "data_retrieval1.csv"))
df.head()

,party,total_receipt,total_disbursement,cash_on_hand_cop,debt_owed_by_committee,total_contribution,total_loan,offsets_to_operating_expenditure,other_receipts,operating_expenditure,...,Real_estate_and_rental_and_leasing2,Professional__scientific__and_technical_services2,Management_of_companies_and_enterprises2,Admin_and_support_and_waste_mngmt_and_remediation_services2,Educational_services2,Health_care_and_social_assistance2,Arts__entertainment__and_recreation2,Accommodation_and_food_services2,Other_services_except_public_administration2,Industries_not_classified2
0,0,1041380,1159940,151165.0,0.0,1036940,0.0,4197.03,236.24,1148610,...,216960,1381323,770768,859744,88059,2920214,109636,776021,343133,1012
1,0,1325140,662806,1108650.0,0.0,1261030,0.0,96.30,92.00,575026,...,180089,748183,291736,476101,147262,1354120,47836,486923,290987,490
2,0,2506890,2100810,451536.0,0.0,2420810,0.0,350.00,0.00,1970350,...,97597,620888,150387,353271,113731,1656829,64885,360347,275554,997
3,0,1219670,857764,887448.0,0.0,1214780,0.0,76.71,4811.39,857464,...,69697,204565,25969,329356,79569,1045938,27030,313355,170613,514
4,0,1487010,853026,1099490.0,0.0,1474660,0.0,388.07,11961.00,845526,...,52846,153147,115945,240649,35185,1180745,18503,251038,178789,836

In [69]:
target = df["party"]
target_names = ["negative", "positive"]

In [115]:
data = df.drop(['party','Public_transportation_excluding_taxicab'], axis=1)
feature_names = data.columns
data.head()

,total_receipt,total_disbursement,cash_on_hand_cop,debt_owed_by_committee,total_contribution,total_loan,offsets_to_operating_expenditure,other_receipts,operating_expenditure,total_loan_Repayment,...,Real_estate_and_rental_and_leasing2,Professional__scientific__and_technical_services2,Management_of_companies_and_enterprises2,Admin_and_support_and_waste_mngmt_and_remediation_services2,Educational_services2,Health_care_and_social_assistance2,Arts__entertainment__and_recreation2,Accommodation_and_food_services2,Other_services_except_public_administration2,Industries_not_classified2
0,1041380,1159940,151165.0,0.0,1036940,0.0,4197.03,236.24,1148610,0.0,...,216960,1381323,770768,859744,88059,2920214,109636,776021,343133,1012
1,1325140,662806,1108650.0,0.0,1261030,0.0,96.30,92.00,575026,0.0,...,180089,748183,291736,476101,147262,1354120,47836,486923,290987,490
2,2506890,2100810,451536.0,0.0,2420810,0.0,350.00,0.00,1970350,0.0,...,97597,620888,150387,353271,113731,1656829,64885,360347,275554,997
3,1219670,857764,887448.0,0.0,1214780,0.0,76.71,4811.39,857464,0.0,...,69697,204565,25969,329356,79569,1045938,27030,313355,170613,514
4,1487010,853026,1099490.0,0.0,1474660,0.0,388.07,11961.00,845526,0.0,...,52846,153147,115945,240649,35185,1180745,18503,251038,178789,836

In [122]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [123]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7155963302752294

In [124]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=20)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7798165137614679

In [125]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.0486036142185724, '100_000_to_149_999a'),
 (0.04603750274731834, 'Civilian_veterans'),
 (0.04155570922514453, 'Less_than_50_000'),
 (0.0355644315395522, '50_000_to_99_999'),
 (0.033778640096288434, 'Median_dollars4'),
 (0.026936853998741173, 'Owneroccupied'),
 (0.02536509326418231, 'Mining__quarrying__and_oil_and_gas_extraction2'),
 (0.023571849775727936, 'Scottish'),
 (0.02018176688092442, 'Occupied_units_paying_rent'),
 (0.020051985464922213, 'Median_dollars3'),
 (0.01884488986540369, 'White'),
 (0.017163338915964423, 'Some_other_race'),
 (0.01574856039650099, 'Construction1'),
 (0.014625903594667273, 'Median_dollars2'),
 (0.014603798036508724, 'Unemployed'),
 (0.014498924149370629, '5_to_9_years'),
 (0.014333090646326794, 'Irish'),
 (0.013470963830305402, '50_000_to_74_999'),
 (0.013085121998389699, 'Total_for_all_sectors2'),
 (0.011800886574120739, '200_000_to_299_999'),
 (0.011681888707484921, 'Health_care_and_social_assistance2'),
 (0.01151187287393447, 'Same_state'),
 (0.01133229751607728, 'Born_in_PR__US_Is_areas_or_abroad_to_US_parents'),
 (0.011309448411320543,
  'Production__transportation__and_material_moving_occupations'),
 (0.010859270300040344, 'Associate_s_degree'),
 (0.010271967204304266, 'Welsh'),
 (0.009722739841529746, '150_000_to_199_999'),
 (0.009587605430313565, 'Car__truck__or_van__drove_alone'),
 (0.00944430142676388, '35_to_44_years'),
 (0.009316484662977988, 'English'),
 (0.009034288182753009, 'individual_refund'),
 (0.008901706823565501, 'American'),
 (0.008558640126467187, '300_000_to_499_999'),
 (0.008469935263799529, '500_000_to_999_999'),
 (0.00804359905975399, 'Black_or_African_American'),
 (0.007893786899413117, 'Arab'),
 (0.007759204028253771, 'Retail_trade3'),
 (0.007439549230018322, '10_to_14_years'),
 (0.007386297691310666, '75_to_84_years'),
 (0.0073670473471548455,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.007020577162746787,
  'Prof__scientific__and_mngmnt__and_admin_and_waste_mngmnt_ser'),
 (0.006977447364072206, 'Dutch'),
 (0.006342629187273102, 'No_health_insurance_coverage2'),
 (0.006067566569123349, 'Danish'),
 (0.00595942965574531, 'Information1'),
 (0.005955122179363551, '25_000_to_34_999'),
 (0.005683075105921682, 'ScotchIrish'),
 (0.005643242555334121, 'Less_than_10_000'),
 (0.005607886611360096, 'No_rent_paid'),
 (0.005441145133824208, 'Moved_in_2000_to_2009'),
 (0.005383980148782963, 'net_contribution'),
 (0.005265061161600885, 'Information3'),
 (0.0052198882879348225, 'French_except_Basque'),
 (0.005186229379355456, 'Management_of_companies_and_enterprises2'),
 (0.005136067806086062, 'Manufacturing1'),
 (0.005105723336474738, 'total_receipt'),
 (0.005058875507296459, 'Transportation_and_warehousing2'),
 (0.004839340245275308, 'Wholesale_trade1'),
 (0.004824297799245281, '35_000_to_49_999'),
 (0.0047758576033764474, 'Mean_travel_time_to_work_minutes'),
 (0.004625387046652264, 'Agriculture__forestry__fishing_and_hunting2'),
 (0.004573321899525279, 'With_private_health_insurance'),
 (0.004535095879383967, '10_000_to_14_999'),
 (0.004518094635766425, 'Construction3'),
 (0.004402383255091073, 'Under_5_years'),
 (0.004382139341023833, 'Italian'),
 (0.004356207199087049, 'All_families'),
 (0.004314279128403777, '1_000_000_or_more'),
 (0.0042425880589905315, 'Walked'),
 (0.004220103766341089, 'Lithuanian'),
 (0.004193751114333517, 'Professional__scientific__and_technical_services2'),
 (0.004135958598405277, 'Average_household_size_of_renteroccupied_unit'),
 (0.004017426873645053, 'Median_dollars1'),
 (0.003919082360031558, 'High_school_graduate_includes_equivalency'),
 (0.003915982729290136, 'Real_estate_and_rental_and_leasing2'),
 (0.003901357073278483, 'Hungarian'),
 (0.0038238151622726297, 'Same_house'),
 (0.0038009516470468704, 'Less_than_9th_grade'),
 (0.0037954302263091626, 'total_disbursement'),
 (0.0037519608060781313, 'other_receipts'),
 (0.0037325380116969495, 'Male'),
 (0.003727246114864019, 'Some_college__no_degree'),
 (0.0036810453735454953, 'Finance_and_insurance2'),
 (0.00360506097697562, 'net_operating_expenditure'),
 (0.0035304372544918755, 'Total_Disability'),
 (0.0035053844284300972, 'total_contribution'),
 (0.003397283827545239,
  'Finance_and_insurance__and_real_estate_and_rental_and_leasing'),
 (0.0033396973796958837, 'Armed_Forces'),
 (0.00319769978082863, 'Slovak'),
 (0.003174282370827353, '60_to_64_years'),
 (0.003152837867985492, 'Average_household_size_of_owneroccupied_unit'),
 (0.0031238156945170526, 'American_Indian_and_Alaska_Native'),
 (0.003117796342298046, 'Hispanic_or_Latino_of_any_race'),
 (0.0031027824986679274, 'Public_administration'),
 (0.0030484595326685892, 'German'),
 (0.00295940095084444, 'No_health_insurance_coverage1'),
 (0.002915283657540661, 'Service_occupations'),
 (0.0028756182136139468, 'Moved_in_2015_or_later'),
 (0.0028131256969467252, '20_to_24_years'),
 (0.0028001635254164157,
  'Selfemployed_in_own_not_incorporated_business_workers'),
 (0.002780819881463327, '75_000_to_99_999'),
 (0.0027548875949969416, 'Moved_in_1979_and_earlier'),
 (0.002625667798049247,
  'Arts_Entmt_and_recreation_and_accommodation_and_food_services'),
 (0.0026009881674354924, 'Other_means'),
 (0.0025632949057950065, 'total_contribution_refund'),
 (0.002556752143920429, 'other_disbursements'),
 (0.002508023671521233, 'Abroad'),
 (0.0023538301982213724, 'cash_on_hand_cop'),
 (0.002290432159530962, 'Moved_in_2010_to_2014'),
 (0.0020235792747718704, 'Swiss'),
 (0.001975940947469344, 'Czech'),
 (0.0019180495567174363,
  'Natural_resources__construction__and_maintenance_occupations'),
 (0.0018936610240784884, 'One_race'),
 (0.0018341524509262034, 'Sales_and_office_occupations'),
 (0.0018181761214709324, '45_to_54_years'),
 (0.0017998481775682944, 'With_a_disability1'),
 (0.0017947289704363296, '150_000_to_199_000'),
 (0.0017856847261632143, 'Percent_high_school_graduate_or_higher'),
 (0.0017771987665515594, 'Percent_bachelor_s_degree_or_higher'),
 (0.0017562351299186547, 'Private_wage_and_salary_workers'),
 (0.0017555280317090034, 'Russian'),
 (0.0016978191789647882, 'cash_on_hand_bop'),
 (0.0016684337468203432, 'State_of_residence'),
 (0.0016404945954862737, 'Government_workers'),
 (0.0016153999091115655, 'Educational_services2'),
 (0.0015316660007550372, 'Asian'),
 (0.001512461099558702, 'Total_housing_units'),
 (0.0015117344091187157, '15_000_to_24_999'),
 (0.0014408064199173988, '25_to_34_years'),
 (0.0014287058283922877, '15_to_19_years'),
 (0.0013902659141753098, 'Utilities2'),
 (0.001328655089862978, 'Manufacturing3'),
 (0.0013152214479509605, '100_000_to_149_999b'),
 (0.001183179893436525, '85_years_and_over'),
 (0.001071803440914857, 'Subsaharan_African'),
 (0.001054955042685104, 'Unpaid_family_workers'),
 (0.0009866497154979285, 'debt_owed_by_committee'),
 (0.0009723341437145067, 'other_committee_refund'),
 (0.0009506996185151011, 'Same_county'),
 (0.0009411196911196913, 'Other_services_except_public_administration2'),
 (0.0009066932006716454, 'Graduate_or_professional_degree'),
 (0.0008840393018615342, 'offsets_to_operating_expenditure'),
 (0.0008211745140819825, 'French_Canadian'),
 (0.0007936871247174881, 'Arts__entertainment__and_recreation2'),
 (0.0007874095330417483, 'operating_expenditure'),
 (0.0007595650490666375, 'Ukrainian'),
 (0.00074359365466748, 'Moved_in_1990_to_1999'),
 (0.0007388042736985678, 'Housing_units_with_a_mortgage'),
 (0.0007224791821822575, 'Moved_in_1980_to_1989'),
 (0.0006220960670113194, 'Not_in_labor_force'),
 (0.0005867526461136134, 'Transportation_and_warehousing__and_utilities1'),
 (0.0005830456310447383, '65_to_74_years'),
 (0.0005801810164771406, '200_000_or_more'),
 (0.000576346730192884, 'With_public_coverage'),
 (0.0005418437790376545, 'total_loan_Repayment'),
 (0.0005402951971579427, 'Worked_at_home'),
 (0.0004753129753129753, 'Native_Hawaiian_and_Other_Pacific_Islander'),
 (0.00046347353209613625, 'Total_population'),
 (0.00046347353209613625, 'Rental_vacancy_rate'),
 (0.00046347353209613625,
  'Admin_and_support_and_waste_mngmt_and_remediation_services2'),
 (0.0004131075859263778, 'total_loan'),
 (0.00041026029437754043,
  'Educational_services__and_health_care_and_social_assistance'),
 (0.0002794314156379996, 'Polish'),
 (0.0, 'party_committee_refund'),
 (0.0, 'debt_owe_to_committee'),
 (0.0, 'Wholesale_trade3'),
 (0.0, 'West_Indian_excluding_Hispanic_origin_groups'),
 (0.0, 'Total_civilian_noninstitutionalized_population'),
 (0.0, 'Swedish'),
 (0.0, 'Retail_trade1'),
 (0.0, 'Portuguese'),
 (0.0, 'Other_services__except_public_administration'),
 (0.0, 'Norwegian'),
 (0.0, 'Management__business__science__and_arts_occupations'),
 (0.0, 'Industries_not_classified2'),
 (0.0, 'Greek'),
 (0.0, 'Different_state1'),
 (0.0, 'Bachelor_s_degree'),
 (0.0, 'Accommodation_and_food_services2'),
 (0.0, '9th_to_12th_grade__no_diploma'),
 (0.0, '55_to_59_years')]

In [ ]:
#1st Try All Data 
[(0.035247623689637464, 'American'),
 (0.031617988444907846, 'Public_transportation_excluding_taxicab'),
 (0.031470518057960244, 'Housing_units_without_a_mortgage'),
 (0.023251076929666485, 'Native'),
 (0.021415530253877137, 'Foreign_born'),
 (0.01942304761478557, '500_to_999a'),
 (0.017777795658383336, '250_to_399'),
 (0.017102014830591043, '50_000_to_99_999'),
 (0.016766153916966772,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.016072877525844697, 'Less_than_250'),
 (0.015695557268647374, '100_000_to_149_999a'),
 (0.015411715045433377, 'Mining__quarrying__and_oil_and_gas_extraction3'),
 (0.014988196844295858, 'Mining__quarrying__and_oil_and_gas_extraction1'),
 (0.014453680971835449, 'Born_in_United_States'),
 (0.014056896004478176, 'Unemployed'),
 (0.013342844935364561, '1_500_to_1_999b'),
 (0.013167213004713532, 'Less_than_50_000'),
 (0.013048725944810026, 'Irish'),

In [ ]:
#2nd Try All Data 
[(0.03959475436637238, 'Public_transportation_excluding_taxicab'),
 (0.024740406187541083, 'Foreign_born'),
 (0.024439624824019308, 'Less_than_50_000'),
 (0.022949999611654053, '100_000_to_149_999a'),
 (0.022543557852988557, 'American'),
 (0.021953154864438402, 'Native'),
 (0.02188867225081178, '500_to_999a'),
 (0.020777948379610764,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.019769198214555563, 'Median_dollars4'),
 (0.018417129725312557, 'Born_in_United_States'),
 (0.01793371803091246, '250_to_399'),
 (0.01779890420650579, '1_500_to_1_999b'),
 (0.017454796743542805, 'ScotchIrish'),
 (0.016745283999200097, 'Housing_units_without_a_mortgage'),
 (0.01629873581945577, 'Mining__quarrying__and_oil_and_gas_extraction3'),
 (0.01320581540471201, 'Mining__quarrying__and_oil_and_gas_extraction1'),
 (0.013168381005515636, '1_000_to_1_499b'),
 (0.012579007378111035, 'White'),
 (0.011300013023005828, 'Asian'),

In [ ]:
#3rd Try All Data 
[(0.03337032742040183, 'Public_transportation_excluding_taxicab'),
 (0.030140146596774955, 'Native'),
 (0.027946269882620677, 'Housing_units_without_a_mortgage'),
 (0.02311092745539787, 'ScotchIrish'),
 (0.021909409742666027, '100_000_to_149_999a'),
 (0.021235302924825936, '1_500_to_1_999b'),
 (0.018947152686927097, 'Foreign_born'),
 (0.01865327450358592, 'American'),
 (0.01777050833476728, '250_to_399'),
 (0.016596157450576417, '500_to_999a'),
 (0.01501397699267703,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.014071660203671644, 'Born_in_United_States'),
 (0.014041887236127194, 'Less_than_250'),
 (0.013259530642616944, '50_000_to_99_999'),
 (0.013195629093174567, 'Less_than_50_000'),
 (0.01275937288796579, 'Utilities3'),
 (0.012308774308360622, 'White'),
 (0.011744133781882575, 'Median_dollars4'),
 (0.011703355969423582, 'Civilian_veterans'),

In [ ]:
#4th Try All Data 
[(0.04513053283478913, 'Public_transportation_excluding_taxicab'),
 (0.027827895084365964, '100_000_to_149_999a'),
 (0.026230537243150116, '250_to_399'),
 (0.025260492966688898, 'Born_in_United_States'),
 (0.02084753602219482, 'Housing_units_without_a_mortgage'),
 (0.020219940355269486, 'American'),
 (0.01976785218147463, '500_to_999a'),
 (0.01735891863640789, 'Less_than_250'),
 (0.016741390383125915, 'Foreign_born'),
 (0.01650613037775141, 'Native'),
 (0.015900356670895326, 'Less_than_50_000'),
 (0.015826023691540212, 'ScotchIrish'),
 (0.01579469960624441, '400_to_599'),
 (0.014321858594387235, 'Mining__quarrying__and_oil_and_gas_extraction3'),
 (0.013004191880620014, '1_500_to_1_999b'),
 (0.012441126325402889,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.011527325228125227, 'Owneroccupied'),
 (0.011394222721483336, '50_000_to_99_999'),
 (0.010933607017501021, 'Unemployed'),

In [ ]:
#5th Try All Data 
[(0.05164964247997049, 'Public_transportation_excluding_taxicab'),
 (0.029078559408478758, 'Housing_units_without_a_mortgage'),
 (0.023487715264786452,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.02142431180225131, 'American'),
 (0.020059377043169957, 'Less_than_50_000'),
 (0.018855647226471987, 'Born_in_United_States'),
 (0.018610601733925213, 'Mining__quarrying__and_oil_and_gas_extraction3'),
 (0.017696828109955813, '1_500_to_1_999b'),
 (0.01731822570068393, '50_000_to_99_999'),
 (0.01707830514073952, '500_to_999a'),
 (0.016717976921730757, '100_000_to_149_999a'),
 (0.014852880761786758, 'Less_than_500a'),
 (0.014413075023958112, 'Mining__quarrying__and_oil_and_gas_extraction1'),
 (0.013806353243410376, 'Less_than_250'),
 (0.013579959341275993, 'ScotchIrish'),
 (0.01295552282634705, '250_to_399'),
 (0.012933290865814644, 'Foreign_born'),
 (0.012816486843374764, '400_to_599'),
 (0.012813053467302533, 'Agriculture__forestry__fishing_and_hunting3')

In [ ]:
#1st Try selected data 
[(0.06026034414187177, 'American'),
 (0.041263648182764234, 'ScotchIrish'),
 (0.03982566533668617, 'Public_transportation_excluding_taxicab'),
 (0.03386519746570996, 'Arab'),
 (0.03347073732150554, 'Graduate_or_professional_degree'),
 (0.028241723667662, 'Scottish'),
 (0.02790608274594626, 'Asian'),
 (0.027377926674498416, '50_000_to_99_999'),
 (0.02299049502663731, '100_000_to_149_999a'),
 (0.02121508383344909, 'Owneroccupied'),
 (0.020977259688416818,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.02049680316482603, 'Same_state'),
 (0.019453831409195863, 'Moved_in_2000_to_2009'),
 (0.018933551667989094, 'Median_dollars2'),
 (0.017978230215868737, 'English'),
 (0.017197670587776177, 'White'),
 (0.01717421048267929, 'Mining__quarrying__and_oil_and_gas_extraction2'),
 (0.016299898058748315, 'Irish'),
 (0.01590873565260119, 'Health_care_and_social_assistance2'),

In [ ]:
[(0.08110701302874779, 'Public_transportation_excluding_taxicab'),
 (0.06096793407143627, 'Less_than_50_000'),
 (0.04489224837736005, 'American'),
 (0.036016773672014765,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.03536627270808042, 'Median_dollars4'),
 (0.03024252282960167, '150_000_to_199_999'),
 (0.026550840565981802, 'ScotchIrish'),
 (0.02194436003945479, 'Irish'),
 (0.02031207836236108, 'White'),
 (0.016489840760795897, 'Median_dollars2'),
 (0.015128429344687819, '500_000_to_999_999'),
 (0.014605368130204657, '75_to_84_years'),
 (0.01434600483930942, 'Mining__quarrying__and_oil_and_gas_extraction2'),
 (0.014150371229910868, '35_000_to_49_999'),
 (0.013859279581396012, 'Associate_s_degree'),
 (0.01257318777379032, 'Total_for_all_sectors2'),
 (0.012230629568030177, 'Agriculture__forestry__fishing_and_hunting2'),
 (0.011262755746576914, '65_to_74_years'),
 (0.0109934334483141, 'English'),

In [ ]:
[(0.07227112786083026,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.06300972961512477, 'Public_transportation_excluding_taxicab'),
 (0.04705949505752225, '100_000_to_149_999a'),
 (0.04629636350622494, 'American'),
 (0.037376895261192776, 'Less_than_50_000'),
 (0.03525716506946454, '50_000_to_99_999'),
 (0.02862186540963125, 'Service_occupations'),
 (0.020432514674739267, 'ScotchIrish'),
 (0.016240170280165632, 'Less_than_10_000'),
 (0.01475629240234456, 'Median_dollars3'),
 (0.014669718046682092, 'Asian'),
 (0.014668110001982565, 'Abroad'),
 (0.014558742775442826, 'All_families'),
 (0.01455407084650053, '50_000_to_74_999'),
 (0.014227951613532694, 'Civilian_veterans'),
 (0.012474913654417268, 'Arab'),
 (0.01237014393260642, 'Black_or_African_American'),
 (0.012146221996267869, 'Some_other_race'),
 (0.011729667352338557, 'Median_dollars1'),

In [ ]:
[(0.05201483330360068, '100_000_to_149_999a'),
 (0.04956045643665169, 'American'),
 (0.04774080865735643,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.04356344709324307, 'No_rent_paid'),
 (0.03969640605450387, 'ScotchIrish'),
 (0.03719668765881527, 'Public_transportation_excluding_taxicab'),
 (0.030914882201780756, 'Civilian_veterans'),
 (0.02562923187715215,
  'Prof__scientific__and_mngmnt__and_admin_and_waste_mngmnt_ser'),
 (0.02481986523093662, 'Occupied_units_paying_rent'),
 (0.019217112602071568, 'Unemployed'),
 (0.018533442680514517, '50_000_to_74_999'),
 (0.01833133561834334, 'Real_estate_and_rental_and_leasing2'),
 (0.018304632837856574, '1_000_000_or_more'),
 (0.017908311995302215, 'Same_state'),
 (0.017607747355615464, 'Mining__quarrying__and_oil_and_gas_extraction2'),
 (0.014799776852194158, 'Moved_in_2000_to_2009'),
 (0.014771451749300387, 'Abroad'),
 (0.012292765616624658, 'High_school_graduate_includes_equivalency'),

In [120]:
[(0.07379400673027575, 'Public_transportation_excluding_taxicab'),
 (0.05646832675314918, 'Less_than_50_000'),
 (0.0445823254210512, 'American'),
 (0.038151670287141934,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.03488171587774797, 'ScotchIrish'),
 (0.023842884621010328, 'Born_in_PR__US_Is_areas_or_abroad_to_US_parents'),
 (0.02287315551560721, '50_000_to_99_999'),
 (0.02256730954487011, 'Owneroccupied'),
 (0.02136826443137191, 'Mining__quarrying__and_oil_and_gas_extraction2'),
 (0.019181478655831842, 'Unemployed'),
 (0.01899223721296012,
  'Prof__scientific__and_mngmnt__and_admin_and_waste_mngmnt_ser'),
 (0.01680594924336005, 'Median_dollars3'),
 (0.015572039275075344, 'Civilian_veterans'),
 (0.015395523916865083, '100_000_to_149_999a'),
 (0.014585352963062518, 'Arts__entertainment__and_recreation2'),
 (0.013798028876155055, 'Czech'),
 (0.013403254665762579, 'Graduate_or_professional_degree'),
 (0.013270737542756145, 'English'),

SyntaxError: unexpected EOF while parsing (<ipython-input-120-5f568a80f4e9>, line 20)

In [121]:
#1st try Dropping 'Public_transportation_excluding_taxicab'

[(0.07591363938787507, 'Less_than_50_000'),
 (0.03722570757360692, 'ScotchIrish'),
 (0.036344257115925635, '100_000_to_149_999a'),
 (0.02819022738234368, 'White'),
 (0.02770004956200679, 'Unemployed'),
 (0.027159096454145056, 'Mining__quarrying__and_oil_and_gas_extraction2'),
 (0.023593998759876566, 'Asian'),
 (0.02331450403352409, 'American'),
 (0.02293150798069558, 'Born_in_PR__US_Is_areas_or_abroad_to_US_parents'),
 (0.0215972855846781, 'Arab'),
 (0.021035626218120586, 'Irish'),
 (0.018550048046174283, '150_000_to_199_999'),
 (0.018354921867763267, 'Owneroccupied'),
 (0.017948215353281654,
  'Agriculture__forestry__fishing_and_hunting__and_mining'),
 (0.017660372181063245, 'Median_dollars1'),
 (0.016526732343740965, 'Civilian_veterans'),
 (0.015993607837818287, 'Median_dollars4'),
 (0.01572300473031601, 'Welsh'),
 (0.015393791136099016, 'Scottish'),

SyntaxError: unexpected EOF while parsing (<ipython-input-121-048c3bdf96a4>, line 21)

In [ ]:
[(0.0486036142185724, '100_000_to_149_999a'),
 (0.04603750274731834, 'Civilian_veterans'),
 (0.04155570922514453, 'Less_than_50_000'),
 (0.0355644315395522, '50_000_to_99_999'),
 (0.033778640096288434, 'Median_dollars4'),
 (0.026936853998741173, 'Owneroccupied'),
 (0.02536509326418231, 'Mining__quarrying__and_oil_and_gas_extraction2'),
 (0.023571849775727936, 'Scottish'),
 (0.02018176688092442, 'Occupied_units_paying_rent'),
 (0.020051985464922213, 'Median_dollars3'),
 (0.01884488986540369, 'White'),
 (0.017163338915964423, 'Some_other_race'),
 (0.01574856039650099, 'Construction1'),
 (0.014625903594667273, 'Median_dollars2'),
 (0.014603798036508724, 'Unemployed'),
 (0.014498924149370629, '5_to_9_years'),
 (0.014333090646326794, 'Irish'),
 (0.013470963830305402, '50_000_to_74_999'),
 (0.013085121998389699, 'Total_for_all_sectors2'),
 (0.011800886574120739, '200_000_to_299_999'),