In [28]:
# Matthew Berning
# Dependencies
import numpy as np
import pandas as pd

In [29]:
election_dataset = pd.read_csv('../database/data_retrieval_clean.csv')
election_dataset.head()

,st_abbrev,district,party,Total_Receipt,Total_Disbursement,Cash_On_Hand_COP,Debt_Owed_By_Committee,Individual_Itemized_Contribution,Individual_Unitemized_Contribution,Individual_Contribution,...,Management_of_companies_and_enterprises3,Admin_and_support_and_waste_mngmt_and_remediation_services3,Educational_services3,Health_care_and_social_assistance3,Arts__entertainment__and_recreation3,Accommodation_and_food_services3,Other_services_except_public_administration3,Industries_not_classified3,Industries_not_classified4,state_dist
0,AK,0,REP,1041380,1159940,151165.0,0.0,513967.0,41063.9,555031.0,...,193,1128,270,2633,569,2156,1823,40,0,AK_00
1,AL,1,REP,1325140,662806,1108650.0,0.0,264612.0,10105.0,274717.0,...,111,749,144,1427,198,1331,1663,21,0,AL_01
2,AL,2,REP,2506890,2100810,451536.0,0.0,741087.0,46129.8,787217.0,...,85,578,131,1538,159,1347,1673,29,0,AL_02
3,AL,3,REP,1219670,857764,887448.0,0.0,450890.0,9667.0,460557.0,...,47,521,89,1142,94,1186,1402,21,0,AL_03
4,AL,4,REP,1487010,853026,1099490.0,0.0,430365.0,23449.0,453814.0,...,76,401,58,1548,135,1060,1440,30,0,AL_04

In [30]:
election_dataset = election_dataset.drop(['id','st_abbrev', 'district', "Industries_not_classified4", "state_dist"], axis=1)

In [31]:
election_dataset.head()

,party,Total_Receipt,Total_Disbursement,Cash_On_Hand_COP,Debt_Owed_By_Committee,Individual_Itemized_Contribution,Individual_Unitemized_Contribution,Individual_Contribution,Other_Committee_Contribution,Party_Committee_Contribution,...,Real_estate_and_rental_and_leasing3,Professional__scientific__and_technical_services3,Management_of_companies_and_enterprises3,Admin_and_support_and_waste_mngmt_and_remediation_services3,Educational_services3,Health_care_and_social_assistance3,Arts__entertainment__and_recreation3,Accommodation_and_food_services3,Other_services_except_public_administration3,Industries_not_classified3
0,REP,1041380,1159940,151165.0,0.0,513967.0,41063.9,555031.0,481912.0,0.00,...,933,1960,193,1128,270,2633,569,2156,1823,40
1,REP,1325140,662806,1108650.0,0.0,264612.0,10105.0,274717.0,985650.0,663.98,...,846,1420,111,749,144,1427,198,1331,1663,21
2,REP,2506890,2100810,451536.0,0.0,741087.0,46129.8,787217.0,1628590.0,5000.00,...,561,1249,85,578,131,1538,159,1347,1673,29
3,REP,1219670,857764,887448.0,0.0,450890.0,9667.0,460557.0,742720.0,11500.00,...,462,853,47,521,89,1142,94,1186,1402,21
4,REP,1487010,853026,1099490.0,0.0,430365.0,23449.0,453814.0,1020840.0,0.00,...,385,808,76,401,58,1548,135,1060,1440,30

In [32]:
X = election_dataset.drop("party", axis=1)
y = election_dataset["party"]
print(X.shape, y.shape)

(434, 323) (434,)

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [36]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=500, activation='relu', input_dim=323))
model.add(Dense(units=500, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [37]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=20,
    shuffle=True,
    verbose=2
)

Epoch 1/20
 - 0s - loss: 0.4679 - acc: 0.7969
Epoch 2/20
 - 0s - loss: 0.1767 - acc: 0.9292
Epoch 3/20
 - 0s - loss: 0.1069 - acc: 0.9662
Epoch 4/20
 - 0s - loss: 0.0439 - acc: 0.9908
Epoch 5/20
 - 0s - loss: 0.0316 - acc: 0.9969
Epoch 6/20
 - 0s - loss: 0.0131 - acc: 1.0000
Epoch 7/20
 - 0s - loss: 0.0081 - acc: 1.0000
Epoch 8/20
 - 0s - loss: 0.0069 - acc: 1.0000
Epoch 9/20
 - 0s - loss: 0.0045 - acc: 1.0000
Epoch 10/20
 - 0s - loss: 0.0028 - acc: 1.0000
Epoch 11/20
 - 0s - loss: 0.0020 - acc: 1.0000
Epoch 12/20
 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 13/20
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 14/20
 - 0s - loss: 0.0011 - acc: 1.0000
Epoch 15/20
 - 0s - loss: 9.7381e-04 - acc: 1.0000
Epoch 16/20
 - 0s - loss: 8.5821e-04 - acc: 1.0000
Epoch 17/20
 - 0s - loss: 7.6026e-04 - acc: 1.0000
Epoch 18/20
 - 0s - loss: 6.7484e-04 - acc: 1.0000
Epoch 19/20
 - 0s - loss: 6.0520e-04 - acc: 1.0000
Epoch 20/20
 - 0s - loss: 5.4747e-04 - acc: 1.0000

In [38]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 0.9113405188289257, Accuracy: 0.8440366988882012

In [39]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

C:\Users\OI\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [40]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

Predicted classes: ['REP' 'DEM' 'DEM' 'REP' 'DEM']
Actual Labels: ['REP', 'REP', 'DEM', 'REP', 'DEM']