In [10]:
import pandas as pd
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [11]:
fips_file = "Resources/FIPS_Code.csv"
fips_df = pd.read_csv(fips_file)
fips_df.head()

        state  fips  STATEFP postal_code
0     Alabama     1        1          AL
1      Alaska     2        2          AK
2     Arizona     4        4          AZ
3    Arkansas     5        5          AR
4  California     6        6          CA

In [12]:
fips_df.columns.values

array(['state', 'fips', 'STATEFP', 'postal_code'], dtype=object)

In [13]:
fips_df.loc[fips_df.STATEFP == 0, 'STATEFP'] = "00"
fips_df.loc[fips_df.STATEFP == 1, 'STATEFP'] = "01"
fips_df.loc[fips_df.STATEFP == 2, 'STATEFP'] = "02"
fips_df.loc[fips_df.STATEFP == 3, 'STATEFP'] = "03"
fips_df.loc[fips_df.STATEFP == 4, 'STATEFP'] = "04"
fips_df.loc[fips_df.STATEFP == 5, 'STATEFP'] = "05"
fips_df.loc[fips_df.STATEFP == 6, 'STATEFP'] = "06"
fips_df.loc[fips_df.STATEFP == 7, 'STATEFP'] = "07"
fips_df.loc[fips_df.STATEFP == 8, 'STATEFP'] = "08"
fips_df.loc[fips_df.STATEFP == 9, 'STATEFP'] = "09"

In [14]:
fips_df.head()

        state  fips STATEFP postal_code
0     Alabama     1      01          AL
1      Alaska     2      02          AK
2     Arizona     4      04          AZ
3    Arkansas     5      05          AR
4  California     6      06          CA

In [15]:
connection_string = "root:NewPassword@localhost:3306/election_prediction_db"
engine = create_engine(f'mysql://{connection_string}')

In [16]:
engine.table_names()

C:\Users\m_ron\Anaconda3\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

['candidate_finance',
 'district_demographic',
 'fips',
 'house_candidate',
 'us_congress',
 'us_congress_member']

In [17]:
fips_df.to_sql(name='fips', con=engine, if_exists='append', index=False)

In [18]:
#confirm successful deposit into MySQL table
pd.read_sql_query('select * from fips', con=engine).head()

   id       state  fips STATEFP postal_code
0   1     Alabama     1      01          AL
1   2      Alaska     2      02          AK
2   3     Arizona     4      04          AZ
3   4    Arkansas     5      05          AR
4   5  California     6      06          CA