In [1]:
import pandas as pd
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [2]:
us_congress_file = "Resources/us_congress.csv"
us_congress_df = pd.read_csv(us_congress_file)
us_congress_df.head()

   id  congress_name  election_year  start_date    end_date
0  57  57th Congress           1900  2001-03-04  2003-03-03
1  58  58th Congress           1902  2003-03-04  2005-03-03
2  59  59th Congress           1904  2005-03-04  2007-03-03
3  60  60th Congress           1906  2007-03-04  2009-03-03
4  61  61st Congress           1908  2009-03-04  2011-03-03

In [3]:
us_congress_df.columns.values

array(['id', 'congress_name', 'election_year', 'start_date', 'end_date'],
      dtype=object)

In [4]:
connection_string = "root:NewPassword@localhost:3306/election_prediction_db"
engine = create_engine(f'mysql://{connection_string}')

In [5]:
engine.table_names()

C:\Users\m_ron\Anaconda3\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

['candidate_finance',
 'district_demographic',
 'fips',
 'house_candidate',
 'us_congress',
 'us_congress_member',
 'us_congressional_district']

In [6]:
us_congress_df.to_sql(name='us_congress', con=engine, if_exists='append', index=False)

In [7]:
#confirm successful deposit into MySQL table
pd.read_sql_query('select * from us_congress', con=engine).head()

   id  congress_name  election_year  start_date    end_date
0  57  57th Congress           1900  2001-03-04  2003-03-03
1  58  58th Congress           1902  2003-03-04  2005-03-03
2  59  59th Congress           1904  2005-03-04  2007-03-03
3  60  60th Congress           1906  2007-03-04  2009-03-03
4  61  61st Congress           1908  2009-03-04  2011-03-03